@model SampleSYSBANK.BankingService.StatementDTO
@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    <script type="text/javascript">

        $(document).ready(function () {
            function set(value) {
                return value;
            }

            $("#btnSave").click(function () {
                var TO = $("#IBANTo").val();
                var FM = $("#FullMoney").val();
                var Fee = $("#Fee").val();
                var WH = $("#Withdraw").val();
                var FRM = $("#IBANFrom").val();
                var PREVFRM = $("#PrevBalanceFrom").val();
                if (TO == "" || FM == "" || Fee == "" || WH == "" || FRM == "") {
                    alert("กรุณาใส่ข้อมูลให้ครบทุกช่อง");
                    return false;
                }
                if (parseFloat(FM) > parseFloat(PREVFRM)) {
                    alert("ยอดเงินในบัญชีมีไม่พอ");
                    return false;
                }
            });
            $("#FullMoney").change(function () {
                var fullmoney = $("#FullMoney").val();
                if (fullmoney != "") {
                    var fee = (parseFloat(fullmoney) * parseFloat(0.01));
                    var deposit = parseFloat(fullmoney) - parseFloat(fee);
                    $("#Fee").val(fee);
                    $("#Withdraw").val(deposit);
                }
            });


        });

    </script>
    <script type="text/javascript">
        function isNumberKey(evt) {
            console.log(evt);
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>
}

<div class="col-xs-12">
    <div class="white-box">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Withdraw @ViewBag.IBAN</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("WithdrawSave", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form role="form">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.IBANFrom)
                            @Html.TextBoxFor(model => model.IBANFrom, new { @class = "form-control", placeholder = "Enter ...", Value = (string)ViewBag.IBAN, @readonly = "readonly" })

                            <label>Balance</label>
                            @Html.TextBoxFor(model => model.PrevBalanceFrom, new { @class = "form-control", placeholder = "Enter ...", Value = ViewBag.Balance, @readonly = "readonly" })

                            @Html.LabelFor(model => model.IBANTo)
                            @Html.TextBoxFor(model => model.IBANTo, new { @class = "form-control", placeholder = "Enter ..." })



                            @Html.LabelFor(model => model.FullMoney)
                            @Html.TextBoxFor(model => model.FullMoney, new { @class = "form-control", placeholder = "Enter ...", onkeypress = "return isNumberKey(this.value)" } )

                            @Html.LabelFor(model => model.Fee)
                            @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", placeholder = "Enter ...", onkeypress = "return isNumberKey(this.value)", @readonly = "readonly" })

                            @Html.LabelFor(model => model.Withdraw)
                            @Html.TextBoxFor(model => model.Withdraw, new { @class = "form-control", placeholder = "Enter ..." , onkeypress = "return isNumberKey(this.value)", @readonly = "readonly" })

                        </div>


                        <div class="box-footer">
                            <input type="submit" id="btnSave" class="btn btn-primary" value="Save" name="action:WithdrawSave" onclick="" />
                            <input type="submit" id="btnCancel" class="btn btn-default" value="Cancel" name="action:WithdrawCancel" />

                        </div>


                    </form>
                }
            </div>

        </div>
    </div>
</div>

